body{
    background-color: #F9FAFE;
}
.a_tbdr{
    border: 1px solid red;
}
header{
    height: 110px;
    background-color: #9B33CD;
    color: #FFF4FF;
}
main{
    min-height: 500px;
    background-color: #FEFEFE;
}
.a_h{
    height: 500px;
}
.a_he{
  height: 200px;
}
footer{
    height: 65px;
    background-color: #0280AC;
}
.a_back{
    background-color: #38B5E8;
}
.a_m{
    margin-top: 60px;
}
.a_t{
   color: white;
}
